<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<body style="background-color: aqua;">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success: </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
      {% endfor %}

    <div class="container">
        
        <h2 class="text-center alert alert-danger">Farmer tractor Form & Record</h2>
        {% block content %} 
        
        {% endblock content %}

    </div>
    

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>